﻿@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background: center top no-repeat #1b2838;
        color: white;
    }

    h2 {
        padding: 1em 0;
    }
    .vertical-space {
        margin-top: 3em;
    }

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

        .ui-autocomplete > li > div {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
        }

    .ui-state-hover,
    .ui-state-active,
    .ui-state-focus {
        text-decoration: none;
        color: #262626;
        background-color: #dcdcdc;
        cursor: pointer;
    }

    .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

</style>


<br />
<br />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Images/apex.jpg" alt="Apex" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/Content/Images/callofduty.png" alt="CallOfDuty" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/Content/Images/fallout.png" alt="Fallout" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@*<h3>Search Game(s)</h3>*@
<div class="container vertical-space">

    @using (Html.BeginForm("SearchGames", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-md-8 col-md-offset-2">
            <div class="input-group">
                <input type="text" name="search" id="search" placeholder="Search games by title" class="form-control col-md-6">
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-primary" data-disable-with="Search">
                </span>
            </div>
        </div>
        <br/>
        <br/>
        <h2 style="color:white;">Featured and Recommended</h2>
        @Html.Partial("_GameListPartial")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$(document).ready(function () {
        //    // if the search query string is not empty, remove it from URL
        //    if (window.location.search != "") {
        //        clearCurrentURL();
        //    }
        //});

        //function clearCurrentURL() {
        //    var urlWithoutParams = location.protocol + "//" + location.host + location.pathname;
        //    window.history.replaceState({}, document.title, urlWithoutParams);
        //}

        $(document).ready(function () {
            $("#search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/AutoComplete",
                        type: "POST",
                        dataType: "json",
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.label, value: item.label };
                            }));
                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                },
                minLength: 2
            });
        });
    </script>
}